---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "40 11 * * *"
  - package-ecosystem: uv
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "40 11 * * *"
