- @uktrade/github-standards

# This config file contains the trufflehog vendors, and needs a review from a more specific list of users

src/hooks/trufflehog/vendors.py @uktrade/github-standards-admin
