name: Docker image build and publish to GHCR
on:
  workflow_call:
    inputs:
      image_tags:
        description: Tags to apply to images. Multiple tags can be provided in a comma separated format
        type: string
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  docker-build-and-push:
    concurrency:
      group: docker-publish-${{ github.ref }}
      cancel-in-progress: false

    permissions:
      contents: read
      id-token: write
      packages: write
      attestations: write

    name: docker-build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Log in to GitHub packages Docker registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: setup
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
        with:
          platforms: linux/amd64,linux/arm64

      - name: Create docker tags
        id: create-docker-tags
        shell: bash
        run: |
          IFS=,
          TAG_COMMAND=""
          read -ra tags <<<${{ inputs.image_tags }}
          for tag in "${tags[@]}"
          do
              TAG_COMMAND="$TAG_COMMAND ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$tag,"
          done
          echo "tags=$TAG_COMMAND" >> $GITHUB_OUTPUT

      - name: Build and push Docker image to GHCR
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          platforms: ${{ steps.setup.outputs.platforms }}
          push: true
          target: release
          build-args: |
            TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: ${{ steps.create-docker-tags.outputs.tags }}
          provenance: false # This is here to avoid ghcr having an image for unknown/unknown
