name: "Organisation ruleset: Docker CI"

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/org.docker-ci.yml

jobs:
  validate:
    env:
      HADOLINT_VERSION: "v2.14.0"
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Validate Dockerfile
        if: ${{ hashFiles('Dockerfile') != '' }}
        run: |
          docker pull hadolint/hadolint:${{env.HADOLINT_VERSION}}
          docker run -e HADOLINT_FAILURE_THRESHOLD=error -e HADOLINT_VERBOSE=1 --rm -i hadolint/hadolint < Dockerfile
