name: "Organisation ruleset: Docker CI"

on:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/org.docker-ci.yml
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [main, master, dev]

jobs:
  validate:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout and read repo files
      security-events: write # Required to upload SARIF files to Security tab
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Trivy vulnerability scanner
        env:
          TRIVY_MISCONFIG_SCANNERS: dockerfile
          TRIVY_DEBUG: true
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          scan-type: "fs"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-docker-results.sarif"
          severity: "HIGH,CRITICAL"
          version: v0.68.2
          scanners: "misconfig"
          limit-severities-for-sarif: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        if: always()
        with:
          sarif_file: "trivy-docker-results.sarif"
