name: "Organisation ruleset: Common CI"

on:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/org.common-ci.yml
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [main, master, dev]

jobs:
  vulnerability-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required to checkout and read repo files
      security-events: write # Required to upload SARIF files to Security tab
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run Trivy vulnerability scanner
        id: scan
        env:
          TRIVY_DEBUG: true
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          exit-code: 1
          scan-type: "fs"
          ignore-unfixed: true
          format: "json"
          output: "trivy-common-results.json"
          # severity: "UNKNOWN,HIGH,CRITICAL"
          version: v0.68.2
          scanners: "vuln,misconfig"
          # limit-severities-for-sarif: true

      - name: Create sarif file
        run: |
          trivy convert --format sarif --output trivy-common-results.sarif trivy-common-results.json

      - name: Upload Trivy scan results to GitHub Security tab
        if: failure() && steps.scan.outcome == 'failure'
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7
        with:
          sarif_file: "trivy-common-results.sarif"

      - name: Report vulnerabilities in PR
        if: failure() && steps.scan.outcome == 'failure'
        shell: bash
        run: |
          echo -n "{\"body\":\"### Trivy fs scan - Vulnerabilities detected\nThe following vulnerabilities of HIGH or CRITICAL severity has been detected in the code. Please resolve these before merging the pull request.\n\n" > summary.json
          cat trivy-common-results.json | sort | uniq | tr -d '\n' >> summary.json
          echo "\"}" >> result.json
          curl -X POST -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            ${{ github.event.pull_request.comments_url }} \
            -d @summary.json

  pre-commit-check:
    if: ${{ github.actor != 'dependabot[bot]' }}
    env:
      SIGNED_OFF_MESSAGE: "Signed-off-by: DBT pre-commit check"
      FAILURE_MESSAGE: "Your PR has commits that are missing the Signed-off-by trailer. This is likely due to the pre-commit hook not being configured on your local machine. The usual fix for this issue is to run `pre-commit install --install-hooks --overwrite -t commit-msg -t pre-commit`, however for more detailed help in setting up the pre-commit hooks, follow the instructions at https://github.com/uktrade/github-standards/blob/main/README.md#usage"

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout current repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check if pre-commit hook ran before push
        id: pre-commit-check
        run: |
          git log ${{ github.event.pull_request.head.sha }} --format=%B -1 | git interpret-trailers --parse | grep '${{ env.SIGNED_OFF_MESSAGE }}'
        continue-on-error: true # This is only here while we are testing, it should be removed during the go live process so PRs cannot be merged

      - name: Find failure comment
        uses: peter-evans/find-comment@b30e6a3c0ed37e7c023ccd3f1db5c6c0b0c23aad
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: ${{ env.FAILURE_MESSAGE }}
        continue-on-error: true # Here incase this step breaks, which would break all org PRs. Don't remove

      - name: Create or update failure comment
        if: failure() || steps.pre-commit-check.outcome == 'failure'
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ env.FAILURE_MESSAGE }}
          edit-mode: replace
        continue-on-error: true # Here incase this step breaks, which would break all org PRs

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        name: Remove pre-commit comment
        if: success() && steps.pre-commit-check.outcome == 'success' && steps.find-comment.outputs.comment-id
        with:
          script: |
            github.rest.issues.deleteComment({
              comment_id: ${{ steps.find-comment.outputs.comment-id }},
              owner: context.repo.owner,
              repo: context.repo.repo
            })
        continue-on-error: true # Here incase this step breaks, which would break all org PRs

  secret-scanning:
    env:
      DOCKER_IMAGE: ghcr.io/uktrade/github-standards
      RELEASE_URL: https://api.github.com/repos/uktrade/github-standards/releases/latest
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Build docker image
        if: ${{ github.event_name == 'push' }}
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          push: false
          build-args: TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: github-standards-hooks:common-ci
          target: testing

      - name: Security scanning using the locally built docker image
        if: steps.build.conclusion == 'success'
        run: |
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          github-standards-hooks:common-ci \
          run_scan \
          --github-action \
          /src

      - name: Get latest release
        if: ${{ github.event_name == 'pull_request' }}
        id: get-version
        run: |
          current_release=$(curl ${{env.RELEASE_URL}} | jq .name)
          echo "current_release=$current_release" >> $GITHUB_OUTPUT
        continue-on-error: true # if the call to get the latest release fails, continue with this job but fall back to using the :latest docker image tag

      - name: Security scanning using the latest released docker image
        if: steps.get-version.outcome == 'success'
        run: |
          tag=${{steps.get-version.outputs.current_release}}
          # if the release tag is missing from the previous step, use latest instead
          if [[ -z $tag ]]; then
            tag='latest'
          fi
          echo $tag
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          ${{ env.DOCKER_IMAGE }}:$tag \
          run_scan \
          --github-action \
          /src
