name: "Organisation ruleset: Docker CI"

on:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/org.docker-ci.yml
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [main, master, dev]

jobs:
  validate:
    env:
      HADOLINT_VERSION: "v2.14.0"
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Validate Dockerfile
        if: ${{ hashFiles('Dockerfile') != '' }}
        run: |
          docker pull hadolint/hadolint:${{env.HADOLINT_VERSION}}
          docker run -e HADOLINT_FAILURE_THRESHOLD=error -e HADOLINT_VERBOSE=1 --rm -i hadolint/hadolint < Dockerfile
