name: "Organisation ruleset test: Common CI"

on:
  push:
    branches-ignore:
      - main
    paths:
      - .github/workflows/org.common-ci.test.yml
  pull_request:
  merge_group:
  branch_protection_rule:
    types: [edited]

jobs:
  pre-commit-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout current repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check if pre-commit hook ran before push 1
        env:
          SIGNED_OFF_MESSAGE: "Signed-off-by: DBT pre-commit check"
        run: |
          # If this commit belongs to a github PR, it will not have the git trailer that is set by 
          # the pre-commit hook. If the response is NOT an empty array, that means the commit was from
          # a PR and we can skip the git trailer checks

          is_pr_commit=$(gh pr list --search ${{ github.event.pull_request.head.sha }} --state merged --json id | jq '. != []')

          if [ "$is_pr_commit" == true ]; then
            echo "This commit came from a PR, it will not have the trailer from a pre-commit hook"
            exit 0
          fi
          echo "We need to check this for the trailers"
          git log ${{ github.event.pull_request.head.sha }} --format=%B -1 | git interpret-trailers --parse | grep '${{ env.SIGNED_OFF_MESSAGE }}'
