name: Python CI

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [main, master, dev]

jobs:
  python-specific-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Empty step
        run: echo 'Python checks to be run here'

  Vulnerability-Checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: "Run Python audit"
        uses: uktrade/actions/python@main
        with:
          audit-dir: "audit-reports" 
          python-version: ${{ vars.PYTHON_VERSION }}

