name: Tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e
        with:
          # Install a specific version of uv.
          version: "0.8.22"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest

  run-docker-verification:
    env:
      # These are set in the Dockerfile and used here as a workaround for proxy.py
      USER_ID: 98657
      GROUP_ID: 87485
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Build docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          push: false
          build-args: TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: github-standards-hooks:verification-testing
          target: testing

      - name: Test run security scan
        run: docker run --user ${{env.USER_ID}}:${{env.GROUP_ID}} -v .:/source:rw,Z --workdir /source github-standards-hooks:verification-testing run_scan --verbose README.md

      - name: Test validate security scan
        run: |
          echo 'Test commit message' >> COMMIT.txt
          ls -la
          id
          docker run --user $(id -u):$(id -g) -v .:/source:rw,Z --workdir /source github-standards-hooks:verification-testing validate_scan --verbose COMMIT.txt
