name: Tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
env:
  DOCKER_LABEL: "github-standards-hooks:testing"
jobs:
  project-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest

  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      image: ${{ steps.build.outputs.imageid }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Build docker image
        id: build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          push: false
          build-args: TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: ${{env.DOCKER_LABEL}}
          target: testing
          outputs: type=docker,dest=${{ runner.temp }}/docker_image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: docker_image
          path: ${{ runner.temp }}/docker_image.tar
          retention-days: 1

  docker-tests:
    needs: [build-docker-image]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Download artifact
        id: download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: docker_image

      - name: Load image
        run: |
          docker load --input ${{ steps.download.outputs.download-path }}/docker_image.tar
          docker images --digests

      - name: Test run security scan
        run: |
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          ${{env.DOCKER_LABEL}} \
          run_scan \
          --verbose \
          /src

      - name: Test run security scan in github action mode
        run: |
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          ${{env.DOCKER_LABEL}} \
          run_scan \
          --verbose \
          --github-action \
          /src

      - name: Test validate security scan
        run: |
          echo 'Test commit message' >> COMMIT.txt
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          ${{env.DOCKER_LABEL}} \
          validate_scan \
          --verbose \
          COMMIT.txt

  git-hooks-test:
    needs: [build-docker-image]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Download artifact
        id: download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: docker_image

      - name: Load image
        run: |
          docker load --input ${{ steps.download.outputs.download-path }}/docker_image.tar
          docker images --digests

      - name: Create pre_commit.yaml file
        run: |
          cat <<EOF > .local_hooks.yaml
          repos:
            - repo: local
              hooks:
                - id: run-security-scan
                  name: run-security-scan
                  language: docker_image
                  entry: ${{env.DOCKER_LABEL}} run_scan --verbose
                  stages: [pre-commit]
                  verbose: true
                  require_serial: true

                - id: validate-security-scan
                  name: validate-security-scan
                  language: docker_image
                  entry: ${{env.DOCKER_LABEL}} validate_scan --verbose
                  stages: [commit-msg]
                  verbose: true
          EOF

      - name: Test pre-commit runs on example git repo
        run: |
          git -c init.defaultBranch=main init test_repo
          git config --global user.email "ci_test@businessandtrade.gov.uk"
          git config --global user.name "CI Test"

          cp .gitignore test_repo/.gitignore
          cp .local_hooks.yaml test_repo/.pre-commit-config.yaml

          cd test_repo
          python3 -m venv .venv
          source .venv/bin/activate

          pip install pre-commit
          pre-commit install --install-hooks --overwrite -t commit-msg -t pre-commit
          pre-commit autoupdate

          git add .
          git commit -m 'testing pre-commit hooks'
