name: Tests
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  verify-version:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version-file: ".python-version"

      - name: Compare project.toml version with pre-commit hooks
        run: |
          pip install pyyaml
          python3 -m src.actions.compare_versions

  project-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest

  docker-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0

      - name: Build docker image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          push: false
          build-args: TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: github-standards-hooks:docker-tests
          target: testing

      - name: Test run security scan
        run: |
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          github-standards-hooks:docker-tests \
          run_scan \
          --verbose \
          /src

      - name: Test run security scan in github action mode
        run: |
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          github-standards-hooks:docker-tests \
          run_scan \
          --verbose \
          --github-action \
          /src

      - name: Test validate security scan
        run: |
          echo 'Test commit message' >> COMMIT.txt
          docker run --user $(id -u):$(id -g) -e FORCE_HOOK_CHECKS=0 --rm -v .:/src -w /src \
          github-standards-hooks:docker-tests \
          validate_scan \
          --verbose \
          COMMIT.txt

  git-hooks-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Build docker image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          push: false
          build-args: TRUFFLEHOG_VERSION=${{ vars.TRUFFLEHOG_VERSION }}
          tags: github-standards-hooks:git-hooks-tests
          target: testing

      - name: Create pre_commit.yaml file
        run: |
          cat <<EOF > .local_hooks.yaml
          repos:
            - repo: local
              hooks:
                - id: run-security-scan
                  name: run-security-scan
                  language: docker_image
                  entry: github-standards-hooks:git-hooks-tests run_scan --verbose
                  stages: [pre-commit]
                  verbose: true
                  require_serial: true

                - id: run-personal-data-scan
                  name: run-personal-data-scan
                  language: docker_image
                  entry: github-standards-hooks:git-hooks-tests run_personal_data_scan --verbose
                  stages: [pre-commit]
                  verbose: true
                  require_serial: true

                - id: validate-security-scan
                  name: validate-security-scan
                  language: docker_image
                  entry: github-standards-hooks:git-hooks-tests validate_scan --verbose
                  stages: [commit-msg]
                  verbose: true
          EOF

      - name: Test pre-commit runs on example git repo
        run: |
          git -c init.defaultBranch=main init test_repo
          git config --global user.email "ci_test@businessandtrade.gov.uk"
          git config --global user.name "CI Test"

          cp .gitignore test_repo/.gitignore
          cp .local_hooks.yaml test_repo/.pre-commit-config.yaml

          cd test_repo
          python3 -m venv .venv
          source .venv/bin/activate

          pip install pre-commit
          pre-commit install --install-hooks --overwrite -t commit-msg -t pre-commit
          pre-commit autoupdate

          git add .
          git commit -m 'testing pre-commit hooks'
